:global {
  :local(.root) {
    width: 100%;
    position: relative;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 150vw;
      height: 150vw;
      border-radius: 150vw;
      background-image: linear-gradient(#0064bb, #08f, #08f, #79c0ff);
      left: -25%;
      top: -93vw;
      z-index: -1;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 220vw;
      height: 220vw;
      border-radius: 220vw;
      background-image: linear-gradient(#08f, #08f, #08f, rgb(255, 255, 255));
      top: -162vw;
      left: -60%;
      z-index: -2;
    }
    .info {
      padding-top: 48vw;
      text-align: center;

      .avatar {
        width: 140px;
        height: 140px;
        border-radius: 200px;
        display: inline-block;
        border: 10px solid #fff;
        background-size: cover;
      }
      .nickName {
        font-size: 30px;
        font-weight: bold;
      }
      .score {
        line-height: 2;
        font-size: 24px;
        color: #999;
        padding-bottom: 40px;
      }
      .login {
        font-size: 30px;
        padding: 10px 50px;
        border: 1px solid rgb(70, 150, 255);
        color: rgb(70, 150, 255);
        border-radius: 100px;
        display: inline-block;
      }
      .logout {
        font-size: 26px;
        padding: 10px 50px;
        border: 1px solid rgb(70, 150, 255);
        color: rgb(70, 150, 255);
        border-radius: 100px;
        display: inline-block;
      }
    }
  }
}
